<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.practice">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="NONA"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SubTab_Tab1.ProfileReviseAvtivity"></activity>
        <activity android:name=".SubTab_Tab1.ProfileActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_Signin.LoginActivity" />
        <activity android:name=".Login_Signin.SignupActivity" />
        <activity android:name=".SubTab_Drawer.FollowingActivity" />
        <activity android:name=".SubTab_Drawer.DibActivity" />
        <activity android:name=".SubTab_Drawer.MyWritingsActivity" />
        <activity android:name=".SubTab_Tab1.ShowWrittenActivity" />
        <activity android:name=".SubTab_Tab1.WriteActivity" />
        <activity android:name=".SubTab_Tab1.ChatActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>